

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container-logo {

    background-image: url(../img/pattern.png) ;
    background-size: 20%;
    background-color: #4EA0FF;
    height: 100px;
    }

#logo{
    width: 200px;
    padding-top: 50px;
    
    
}

main {
    
    width: 1200px;
    padding: 0.25rem;
    
    
}

footer {
   
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    font-size: 45px;
    margin-top: 20px;
}


.gray_title {
    color: #808080;
    font-weight: 700;
    font-size: 20px;
    line-height:15px;
    margin-bottom: 20px;
}

a {
    color:#20A9E5;
    text-decoration: none;
}

#data {
    font-size: 12px;
}

#description_photo{
    font-size: 12px;
    line-height:15px;
}


#paragrafo_lista{
    margin-top: 20px;
}

 section>ul {
    padding-left: 20px;
}

ul {
    margin-top: 30px;
    margin-bottom: 30px;
}

.terza_colonna{
    width: 50%;
}
 
.prima_seconda_colonna {
    width: 25%;
}

#head{
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.row{
    background-color: #B1E5F2;   
}

table {
    margin-bottom: 20px;   
    border-collapse: collapse;
}


#box1 {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
    margin-bottom: 10px;
}

#box2 {
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
}

h2{
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
}
